<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/diplomski</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
  <mapping package="com.example.diplomski.entities"/>
  <mapping class="com.example.diplomski.entities.Zaposleni"/>
  <mapping class="com.example.diplomski.entities.FizickoLice"/>
  <mapping class="com.example.diplomski.entities.PoslovniPartner"/>
  
 </session-factory>
</hibernate-configuration>
